<!DOCTYPE html>
<html>
  <head>
    <title>Quotely</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light" style ="background-color: #e3f2fd; text-align: center;">
      <%= link_to "QuoteLy", root_path %>
    </nav>

    <%= yield %>
  </body>
</html>
